a:hover{
    color: black; 
    font-size: 25px
}

{
    margin: auto;
}

p{
    margin: 20px;
    border: 2px solid grey
}
p{
    padding: 20px;
}

#title{
   color: rgb(12, 43, 128)
}
body{
    background-color: powderblue;
    text-align: center;
    margin-top: 45px;
}
th{
    color: brown
}

table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px 5px;
}
#tabla{
    margin: auto;
    background-color: rgba(64, 109, 146, 0.712), alpha)
    width: 10%;
    height: 10%;
    border: 2px solid gray; 
}

#imagen:hover{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: scaleX(3);
    filter: sepia(30%);
}

#mimagen:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    transform: matrix(2,4,5,4,6,4)
}

#rooa{
    animation-name: roaa;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
}

@keyframes roaa{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        filter: grayscale(100%);
        transform: scaleX(3);
    }
    100%{
        transform: translate3d(20px,30px,60px)
    }
}
#title{
    animation-name: papi;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-direction: alternate-reverse;
}
@keyframes papi{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        filter: grayscale(100%);
        transform: scaleX(3);
    }
    100%{
        transform: rotateZ(270deg)
    }
}